.body{
    font-family: 'Poppins', sans-serif;
}
.nav3{
    /* border: 0.1px solid; */
    padding-bottom: 20px;     
}


.nav3{
    position: relative;
    width: 100%;
    /* White */
    text-align: center;
    background: #FFFFFF;
    list-style: none;
    top: 30px;
}
.nav3 {
    
    display: inline-block;
}


.nav3 a{
    position:relative;
    margin-right: 45px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0c497a;
    text-decoration: none;
    padding-top: 5px;
    padding: 20px 15px;
    transition: .6s ease;

}
.nav3 a:hover{
    /*background-color: #0f65aa;*/
    color: rgb(20, 21, 22);
}
.nav3 a.pro:hover{
    color: #6585a1;
}
